:root {
  --page-background: #f4f3f8;
  --modal-background: #cccccc;
  --modal-background-opacity: 0.5;

  --card-background: #fff;
  --card-complete-background: #e9e9f0;
  --card-title-color: #000;
  --card-color: #8d8896;

  --border: 2px solid var(--border-color);

  --action-blue: #49a8f6;
  --action-purple: #7f50fe;
  --action-green: #13d1bd;
  --action-red: #fe0322;

  --button-color: #fff;

  --font-family: sans-serif;
  --border-color: #e9e9f0;
  --border-radius: 5px;
}

.button {
  border: none;
  color: var(--button-color);
  padding: 10px;
  font-size: 0.9em;
}

.button-blue {
  background-color: var(--action-blue);
}

.button-purple {
  background-color: var(--action-purple);
}

.button-green {
  background-color: var(--action-green);
}

.button-red {
  background-color: var(--action-red);
}

.button-white {
  background-color: #fff;
  color: var(--action-purple);
}
.card {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-items: stretch;
          align-items: stretch;
  border-radius: var(--border-radius);
  background-color: #fff;
  font-family: var(--font-family);
  width: 100%;
  max-width: 250px;
}

.card__title {
  margin: 0;
  padding: 20px 10px 0 10px;
  font-size: 15px;
  font-weight: 600;
  border-top-right-radius: var(--border-radius);
  border-top-left-radius: var(--border-radius);
  border: var(--border);
  border-bottom: none;
  color: var(--card-title-color);
}

.card__body {
  padding: 20px 10px 20px 10px;
  border: var(--border);
  border-bottom: none;
  border-top: none;
  color: var(--card-color);
  font-size: 0.9em;
  -webkit-flex: 1 1;
          flex: 1 1;
}

.card__button-bar {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
          flex-direction: row;
}

.card__button-bar:empty {
  border: var(--border);
  border-top: none;
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  height: var(--border-radius);
}

.card__button-bar .button {
  display: block;
  -webkit-flex: 1 1;
          flex: 1 1;
}

.card__button-bar .button:first-child {
  border-bottom-left-radius: var(--border-radius);
}

.card__button-bar .button:last-child {
  border-bottom-right-radius: var(--border-radius);
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
}

.modal.open {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
}

.modal__background {
  width: 100%;
  height: 100%;
  position: absolute;
  background: var(--modal-background);
  opacity: var(--modal-background-opacity);
}

.modal__window {
  font-family: var(--font-family);
  background-color: #fff;
  -webkit-filter: drop-shadow(0px 7px 10px #bbbbbb);
          filter: drop-shadow(0px 7px 10px #bbbbbb);
  border-radius: var(--border-radius);
  padding: 20px;
  width: 100%;
  max-width: 400px;
  height: auto;
}

.modal__title {
  margin: 0;
}

.modal__body {
  padding-top: 20px;
}
.task-card.completed {
  background-color: var(--card-complete-background);
}

.task-card.completed .task-card__description,
.task-card.completed .card__title {
  font-style: italic;
  font-weight: normal;
}

.task-card__date {
  font-style: italic;
  color: var(--action-purple);
  font-size: 0.8em;
}

.task-card__date.completed {
  color: var(--action-green);
}

.task-card__description {
  margin-top: 0px;
}

.task-list > .card__body > .card {
  margin-bottom: 10px;
}

.task-list > .card__body > .card:last-child {
  margin-bottom: 0;
}

.task-form {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
          flex-direction: column;
}

.task-form input,
.task-form textarea {
  border: var(--border);
  border-radius: var(--border-radius);
  margin-bottom: 10px;
  padding: 5px;
}

.task-form__button-bar {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: stretch;
          justify-content: stretch;
  -webkit-align-items: stretch;
          align-items: stretch;
}

.task-form__button-bar__left,
.task-form__button-bar__right {
  -webkit-flex: 1 1;
          flex: 1 1;
  display: -webkit-flex;
  display: flex;
}

.task-form__button-bar__right {
  -webkit-justify-content: flex-end;
          justify-content: flex-end;
}

.task-form__button-bar .button {
  border-radius: var(--border-radius);
}

.board {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-items: stretch;
          align-items: stretch;
}

.board > .card {
  -webkit-flex: 1 1;
          flex: 1 1;
  margin-left: 20px;
}

.board > .card:first-child {
  margin-left: 0;
}

/*# sourceMappingURL=main.css.map*/