@import './variables.css';

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-content: center;
  align-items: stretch;
  border-radius: var(--border-radius);
  background-color: #fff;
  font-family: var(--font-family);
  width: 100%;
  max-width: 250px;
}

.card__title {
  margin: 0;
  padding: 20px 10px 0 10px;
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--card-title-color);
}

.card__body {
  padding: 20px 10px 20px 10px;
  color: var(--card-color);
  font-size: 0.8rem;
  flex: 1;
}

.card__button-bar {
  display: flex;
  flex-direction: row;
}

.card__button-bar .button {
  display: block;
  flex: 1;
}

.card__button-bar .button:first-child {
  border-bottom-left-radius: var(--border-radius);
}

.card__button-bar .button:last-child {
  border-bottom-right-radius: var(--border-radius);
}
