@import "./variables.css";

.modal {
  display: none;
  font-family: var(--font-family);
  background-color: #fff;
  filter: drop-shadow(0px 7px 10px #bbbbbb);
  border-radius: var(--border-radius);
  padding: 20px;
  width: 100%;
  max-width: 400px;
}

.modal.open {
  display: block;
}

.modal__title {
  margin: 0;
}

.modal__body {
  padding-top: 20px;
}