.task-card.completed {
  background-color: var(--card-complete-background);
}

.task-card.completed .task-card__description,
.task-card.completed .card__title {
  font-style: italic;
  font-weight: normal;
}

.task-card .card__title {
  border-top-right-radius: var(--border-radius);
  border-top-left-radius: var(--border-radius);
  border: var(--border);
  border-bottom: none;
}

.task-card .card__body {
  border: var(--border);
  border-bottom: none;
  border-top: none;
}

.task-card__date {
  font-style: italic;
  color: var(--action-purple);
  font-size: 0.7rem;
}

.task-card__date.completed {
  color: var(--action-green);
}

.task-card__description {
  margin-top: 0px;
}
