@import "./variables.css";

.task-form {
  display: flex;
  flex-direction: column;
}

.task-form input,
.task-form textarea {
  border: var(--border);
  border-radius: var(--border-radius);
  margin-bottom: 10px;
  padding: 5px;
}

.task-form__button-bar {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
}

.task-form__button-bar__left,
.task-form__button-bar__right {
  flex: 1;
  display: flex;
}

.task-form__button-bar__right {
  justify-content: flex-end;
}

.task-form__button-bar .button {
  border-radius: var(--border-radius);
}