:root {
    --page-background: #f4f3f8;
    --modal-background: #cccccc;
    --modal-background-opacity: 0.5;

    --card-background: #fff;
    --card-complete-background: #e9e9f0;
    --card-title-color: #000;
    --card-color: #8d8896;

    --border: 2px solid var(--border-color);

    --action-blue: #49a8f6;
    --action-purple: #7f50fe;
    --action-green: #13d1bd;
    --action-red: #fe0322;

    --button-color: #fff;

    --font-family: sans-serif;
    --border-color: #e9e9f0;
    --border-radius: 5px;
}